.burger-menu {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
    display: none;
}

.burger-menu_opened {
    display: flex;
    justify-content: flex-end;
}

.burger-menu__navi-wrapper {
    opacity: 100%;
    height: 100%;
    width: 67.7%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.burger-menu__image-close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 23px;
    right: 23px;
    cursor: pointer;
}

.burger-menu__link {
    margin: 0;
    padding: 0;
}

.burger-menu__buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 159px;
}

.burger-menu__button {
    background: none;
    border: none;
    font-size: 1.125rem;
    line-height: 1.22;
    font-weight: 500;
    padding: 0;
    margin: 5px 0 22px 0;
    cursor: pointer;
    height: 24px;
}

.burger-menu__button_first {
    margin: 0 0 22px 0;
}

.burger-menu__link_account {
    text-decoration: none;
}

.burger-menu__button_account {
    font-size: 0.875rem;
    line-height: 1.14;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 94px;
}

.burger-menu__icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    padding: 0;
    margin: 0 0 0 13px;
}

.burger-menu__icon-image {
    width: 11px;
    height: 11px;
}

.burger-menu__underlined {
    border-bottom: 2px solid #000;
    border-radius: 0;
}

@media screen and (max-width: 460px) {
    .burger-menu__navi-wrapper {
        width: 100%;
    }
}