.intro {
    width: 100%;
    background-color: #5C5C5C;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 75px 70px;
}

.intro__description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.intro__text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 640px;
    flex-wrap: wrap;
}

.intro__title {
    padding: 0;
    margin: 0 0 36px 0;
    font-size: 3.125rem;
    line-height: 1.16;
    color: #ffffff;
}

.intro__subtitle {
    padding: 0;
    margin: 0;
    font-size: 0.8125rem;
    line-height: 1.23;
    color: #ffffff;
}